@use 'bootstrap';

@font-face {
    font-family: 'Catamaran', sans-serif;
    font-weight: 300, 400, 500, 600, 700;
    font-display: optional;
    src: url(https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Teko:wght@300;400;500;600&display=swap)
}

;


@font-face {
    font-family: 'Vidaloka';
    font-weight: 400;
    font-display: optional;
    src: url(https://fonts.googleapis.com/css2?family=Vidaloka&display=swap);
}